<div class="main-header">
ああああああああああああああああああああああああああああああああああああああああああああああああ
</div>

<div class="chat-message">
ああああああああああああああああああああああああああああああああああああああああああああああああああああああ
</div>

<div class="main-footer">
あああああああああああああああああああああああああああああああああああああああああああああああああああああああ
</div>