<div class="message-class">
  <div class="message-profile">  
    <div class="member-name">
      <%= message.user.name %>
    </div>
    <div class="posted-at">
      <%= message.created_at %>
    </div>
  </div>
  <div class="message-body">
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>
</div>  